@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 10px 0px 60px rgba(0, 4, 82, 0.16);
    border-radius: 15px;
    
}



@import "blocks/header";
@import "blocks/buttons";
@import "blocks/promo";
@import "blocks/slider";
@import "blocks/also";
@import "blocks/about";
@import "blocks/titles";
@import "blocks/tabs";
@import "blocks/footer";
 @import "base/media";