.also {
    margin: 0 90px;
    margin-bottom: 20px;
    &::before {
        display: block;
        margin-bottom: 60px;
        content: "";
        height: 1px;
        background-color: #4d1f72;
    }

    &__goods {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
    }
    &__good {
        display: flex;
        flex-direction: column;;
        max-width: 240px;
        height: 300px;
        padding: 17px 14px;
        text-align: center;
        img {
            max-height: 50%;
        }
    }
    &__subtitle {
        margin-top: 31px;
        font-weight: 700;
        color:#4d1f72;
    }
    &__price {
        font-weight: bold;
        font-size: 28px;
        line-height: 52px;
        color: rgba(0, 100, 0, 0.7);
        margin-bottom: 5px;
    }
}
